.app-not-found {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f5f5f5;
}

.app-not-found img {
  width: 200px;
  height: auto;
  margin-bottom: 2rem;
}

.app-not-found h1 {
  font-size: 2rem;
  color: #333;
}
